:root {
  /* Primary */
  --Purple: hsl(259, 100%, 65%);
  --LightRed: hsl(0, 100%, 67%);
  /* Nuetral */
  --White: hsl(0, 0%, 100%);
  --OffWhite: hsl(0, 0%, 94%);
  --lightGray: hsl(0, 0%, 86%);
  --SmokeyGrayy: hsl(0, 1%, 44%);
  --OffBlack: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  src: url("./assets/fonts/Poppins-Italic.ttf");
  src: url("./assets/fonts/Poppins-BoldItalic.ttf");
  src: url("./assets/fonts/Poppins-Bold.ttf");
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

body {
  font-family: "Poppins";
  color: var(--SmokeyGrayy);
  font-size: 15px;
}

/* Center wrapper div */
.wrapper {
  position: absolute;
  width: 1000px;
  height: 700px;
  z-index: 15;
  top: 30%;
  left: 45%;
  margin: -100px 0 0 -150px;
  /* background-color: brown; */
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day .month .year {
  display: flex;
  flex-direction: column;
  color: var(--lightGray);
}

input {
  width: 120px;
  height: 50px;
  border: none;
  background-color: var(--OffWhite);
  border-radius: 5px;
  font-size: 36px;
  font-style: bold;
  color: var(--OffBlack);
  border: 1px solid var(--lightGray);
}

.errorWrapper {
  display: flex;
}
