:root {
  /* Primary */
  --Purple: hsl(259, 100%, 65%);
  --LightRed: hsl(0, 100%, 67%);
  /* Nuetral */
  --White: hsl(0, 0%, 100%);
  --OffWhite: hsl(0, 0%, 94%);
  --lightGray: hsl(0, 0%, 86%);
  --SmokeyGrayy: hsl(0, 1%, 44%);
  --OffBlack: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  src: url("./assets/fonts/Poppins-Italic.ttf");
  src: url("./assets/fonts/Poppins-BoldItalic.ttf");
  src: url("./assets/fonts/Poppins-Bold.ttf");
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

body {
  font-family: "Poppins";
}
